#datasource configurations
spring.datasource.url=jdbc:postgresql://localhost:5432/#DBname
spring.datasource.username= # Database username
spring.datasource.password= # Database pass

# DDL generation
spring.jpa.generate-ddl=true

# Hibernate and JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL81Dialect


# JWT Secrets and validity(in seconds)
jwt.token.secret= # Some random UUID
jwt.refreshtoken.secret= # Another some random UUID
jwt.token.validity=20
jwt.refreshtoken.validity=24*60*60
