#datasource configurations
spring.datasource.url=jdbc:postgresql://localhost:5432/spring-and-hibernate
spring.datasource.username=postgres
spring.datasource.password=admin

# DDL generation
spring.jpa.generate-ddl=true

# Hibernate and JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL81Dialect


# JWT Secrets
jwt.token.secret=7cd614f1-e043-40f0-914e-2f2cfc22dd56
jwt.refreshtoken.secret=b0723659-fc7d-4bbe-8167-a7a78b551394

